@use 'vars' as *;


    .bgc-footer {
    height: 380px;
    background-image: url('../images/footer-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer{


.bgc-right {
    background-image: url('../images/dc-logo-bg.png');
    background-repeat: no-repeat;
    width: 47%;
    background-position: center;
    z-index: 2;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

nav {
    display: flex;
    margin-top: 30px;
}

ul li a{
    color: grey;
    font-size: 0.8rem;
}

h1 {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;

}

.comicsnav,
.dcnav,
.sitesnav {
    margin-right: 15px;
    margin-left: 15px;
}
}
.footer-user {
    height: 140px;
    background-color: #303030;
}

.flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

.followus h3 {
    color: #0c7cec;
    margin-right: 15px;
}

.followus {
    display: flex;
    align-items: center;

    img {
        margin-left: 10px;
    }
}

.signup-btn {
    border: 2px solid #0c7cec;
    padding: 15px;

    h3 {
        color: white;
    }
}