@use 'vars' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 135px;


ul {
    
        display: flex;
        justify-content: center;
        align-items: center;
   

    li {
        font-weight: bold;



        a {
            color: black;
            padding: 55px 10px;
            text-transform: uppercase;

            &:hover {
                border-bottom: 4px solid #0c7cec;
                color: #0c7cec;
            }
        }
    }
}
}